.Home{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Home *{
    margin-bottom: 10px;
}
.helpButton{
    background-color: rgb(203, 0, 0);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}
.storeButton{
    background-color: rgb(0, 55, 157);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}
.viewMapButton{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    cursor: pointer;
}
.logoutButton{
    color: rgb(255, 0, 0);
    cursor: pointer;
}