form{
    display: flex;
    flex-direction: column;
}
form *{
    margin-bottom: 5px;
    border-radius: 10px;
}
input{
    background-color: white;
    padding: 10px;
    color: black;
    border: 1px solid gray;

}
button{
    background-color: rgb(0, 55, 157);
    color: white;
}